export PORT=80
export S3_BUCKET="some_s3_bucket"
export S3_KEY="some_s3_key"
export S3_SECRET="some_s3_secret"
export BITLY_USER="some_bitly_user"
export BITLY_KEY="some_bitly_key"
export ALLOWED_IPS="a.list.of IP.addresses separated.by.spaces"
